
<%- include('../common/header') %>
  <%- include('../common/sidebar') %>


    <!-- BEGIN: Content-->
    <div class="app-content content ">

      <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
          <section id="multiple-column-form">
            <div class="row">
              <div class="col-md-10 col-12 mx-auto">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">View User</h4>
                  </div>
                  <div class="card-body">
                    <form class="form form-horizontal">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="profile-widget-header text-center">
                            <img src="<%=viewuser.image%>" class="img-thumbnail user_bigimg ms-md-0 mx-auto">
                          </div>
                        </div>
                        <div class="col-md-8" style="margin-top: 10px;">
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Name</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="name" value="<%=viewuser.firstname%> "
                                disabled>
                            </div>
                          </div>
                          <!-- <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Last Name</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="name" class="form-control" name="name" value="<%=viewuser.lastname%> "
                                disabled>
                            </div>
                          </div> -->
                          
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Email</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="email" class="form-control" name="email"
                                value="<%=viewuser.email%> " disabled>
                            </div>
                          </div>
                          <div class="mb-1 row">
                            <div class="col-sm-2">
                              <label class="col-form-label new_lable" for="first-name">Phone</label>
                            </div>
                            <div class="col-sm-10">
                              <input type="text" id="phone" class="form-control" name="phone"
                                value="<%=viewuser.country_code%> <%=viewuser.phone%>" disabled>
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="col-sm-9 offset-sm-5">
                              <a href="/user_list" class="btn float-right" title="Edit Profile"> Back </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>
    <%- include('../common/footer') %>
    
    <script>
      $(document).ready(function () {
        $('.table').DataTable(); // Initialize DataTable for all tables with the 'table' class
      });
    </script>

