<%- include('../common/header'); -%> <%- include('../common/sidebar'); -%>

<style>
  .img-thumbnail {
    padding: 0.25rem;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    max-width: 100%;
    height: 17rem;
    width: 18rem;
  }

  .new_lable {
    white-space: normal; /* allow wrapping */
    word-wrap: break-word; /* break long words */
    color: black;
    font-size: 13px;
    font-weight: 500;
  }

  ::-webkit-file-upload-button {
    display: none;
  }

  ::file-selector-button {
    display: none;
  }

  input[type="file"] {
    color: transparent;
  }

  .fe-24 {
    position: absolute;
    top: 282px;
    left: 265px;
    color: #ffffff;
    border: 0px solid #878181fc;
    border-radius: 40%;
    background: #282828c9;
  }

  .camera_icon {
    height: 3rem;
    width: 3rem;
    padding: 8px;
    display: inline-block;
  }
</style>

<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <section id="multiple-column-form">
        <div class="row">
          <div class="col-md-11 col-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Patient Detail</h4>
              </div>
              <br />
              <div class="card-body">
                <form
                  class="form form-horizontal"
                  id="profile"
                  action="/update_category"
                  method="POST"
                  enctype="multipart/form-data"
                >
                  <div class="row">
                    <div class="col-md-8" style="margin-top: 17px">
                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >Patient Name</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.name%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>


                      

                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >MRD Number</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.mrdnumber%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >Date Of OPD</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.date%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >Doctor Name</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.doctorname%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >Were you satisfied </label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.services%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >Remarks</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.facilities%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                      <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            > Suggestion</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <textarea
                            id="name"
                            class="form-control"
                            name="name"
                            maxlength="60"
                            disabled
                          >
<%=editData.Suggestion%></textarea
                          >
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                         <div class="mb-1 row">
                        <div class="col-sm-2">
                          <label class="col-form-label new_lable" for="name"
                            >AbhaID</label
                          >
                        </div>
                        <div class="col-sm-10">
                          <input
                            type="text"
                            id="name"
                            class="form-control"
                            name="name"
                            value="<%=editData.abhaid%>"
                            maxlength="60"
                            disabled
                          />
                          <input
                            type="hidden"
                            name="id"
                            value="<%=editData._id%>"
                          />
                        </div>
                      </div>

                      <div class="col-12">
                        <div class="col-sm-9 offset-sm-5">
                          <button
                            type="button"
                            class="btn waves-effect waves-float waves-light"
                            onclick="history.back()"
                          >
                            Back
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<%- include('../common/footer'); -%>

<script>
  setTimeout(function () {
    $("div.msg").fadeOut();
  }, 2000);
</script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
  integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<script>
  $(document).ready(function () {
    jQuery.validator.addMethod(
      "noSpace",
      function (value, element) {
        return value == "" || value.trim().length != 0;
      },
      "No space allowed"
    );

    jQuery.validator.addMethod(
      "noSpecialChars",
      function (value, element) {
        // Regular expression to disallow special characters
        return /^[a-zA-Z0-9\s]*$/.test(value);
      },
      "Special characters are not allowed"
    );

    $("#profile").validate({
      rules: {
        name: {
          required: true,
          noSpace: true,
          noSpecialChars: true,
          maxlength: 30,
        },
        phone: {
          required: true,
          noSpace: true,
          noSpecialChars: true,
          minlength: 10,
          maxlength: 12,
        },
      },

      errorElement: "div",
      errorClass: "jqval-error",
      errorPlacement: function (error, element) {
        error.insertAfter(element);
        error.slideDown(400);
        error.animate(
          {
            opacity: 1,
          },
          {
            queue: false,
            duration: 700,
          }
        );
      },

      submitHandler: function (form) {
        var error = $(".assign_error_div").text();
        if (!error) {
          form.submit();
        }
      },
    });
  });
</script>

<script>
  $(window).on("load", function () {
    if (feather) {
      feather.replace({
        width: 14,
        height: 14,
      });
    }
  });
</script>

<script>
  // for preview of image
  function loadFile(event, c) {
    var image = document.getElementById(c);
    image.src = URL.createObjectURL(event.target.files[0]);
  }
</script>
