<%- include('../common/header'); -%>
<%- include('../common/sidebar'); -%>

<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Job details</h1>
      <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="/Dashboard">Dashboard</a></div>
        <div class="breadcrumb-item">Profile</div>
      </div>
    </div>
    <div class="section-body">
      <div class="card">
      <form action="/category_list" method="get" enctype="multipart/form-data">
      <div class="row mt-sm-4 justify-content-center ">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card profile-widget">
            <div class="profile-widget-header text-center py-3">
              <img alt="image" width="200" height="200" id="blah" src="<%=cateData.image%>" class="profile_img rounded-circle">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-7 offset-lg-0 ">
            <form action="" method="post" class="needs-validation" enctype="multipart/form-data" novalidate="">
              <div class="card-body">
                  <div class="form-group col-12 ">
                    <label> Name</label>
                    <!-- <div class="input-group">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fas fa-user"></i>
                        </div>
                      </div>
                    </div> -->
                    <input type="text" class="form-control" value="<%=cateData.name%>" disabled>
                    <input type="hidden" name="id" value="">
                    <div class="invalid-feedback">
                      Please fill in the name
                    </div>
                  </div>
            
                    <div class="form-group">
                      <div class="col-sm-12 col-md-12">
                        <button type="submit" class="btn ">Back</button>
                      </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </form>
      </div>
    </div>
  </section>
</div>

<%- include('../common/footer'); -%>

<script>
  imgInp.onchange = evt => {
    const [file] = imgInp.files
    if (file) {
      blah.src = URL.createObjectURL(file)
    }
  }
</script>